@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto&family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;

}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

div.flex-content__wrapper {
    /*display: flex;*/
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Open Sans', sans-serif;
    margin: 15px 25px;
}

li {
    font-family: 'Open Sans', sans-serif;
}

p.icon-desc {
    padding: 0;
    margin: 0;
}

p.portfolio-text-opt {
    width: 40%;
}

p.text-author {
    text-align: right;
    white-space: nowrap;


}

h2 {
    font-size: 2em;
    margin: 15px 25px;
}

h2.about-h2 {
    text-align: right;
}

h2:before {
    content: "//";
}

span.about-text-span {
    opacity: 1;
    color: #E0B595;
}

span.about-text-span.text-span-contain {
    opacity: 1;
    font-size: 2em;
    margin: 0 25px;
    color: #E0B595;
}

ul.about-my-interests {
    margin: 0 35px;
    list-style: none;
}

ul.about-my-interests li:before {
    content: "·";
    font-size: 20px;
    vertical-align: middle;
    margin-right: 10px;


}


a {
    text-decoration: none;
    color: #fff7f7;
    font-family: 'Open Sans', sans-serif;

}

span {
    font-family: 'Open Sans', sans-serif;
}
strong{
    font-family: 'Open Sans', sans-serif;
}

a.bg-contact-button {
    margin: auto;
}

div.button-about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

div.button-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("./src/kontakt_ikona.png");
    background-size: 100% 100%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    height: 4em;

    -ms-flex-wrap: nowrap;

    flex-wrap: nowrap;
}

a:hover {
    text-shadow: 4px 4px 4px #8c8a8a;
}

ul.nav-list {
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style-type: none;
    min-width: 80%;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    position: absolute;
    top: 34%;
    left: calc(100% / 13);
    font-size: calc(14em / 10);
    line-height: 1.4em;
}


.li.nav {
    padding-left: 1em;
}

li.nav.nav-breakline {
    border-right: 1px solid white;

}


.flex-main__wrapper {
    /*width: 100%;*/
    height: 100%;
}

.flex-header__wrapper {
    /*width: 100%;*/
    height: 14vh;
    background-image: -webkit-gradient(linear, left top, right top, from(#868686), to(#a5a5a5));
    background-image: -o-linear-gradient(left, #868686, #a5a5a5);
    background-image: linear-gradient(to right, #868686, #a5a5a5);

}

.flex-header-nav__wrapper {
    position: relative;
    height: 100%;
    /*width: 100%;*/
}

.flex-header-navbar__wrapper {
    display: inline;
    position: absolute;
    top: -16%;
    left: 29%;
    min-width: 57%;
    max-width: 57%;
    width: 57%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 168%;
}

.nav-background {
    height: 100%;
    /*width: 100%;*/

}

.flex-header-navbar-list__wrapper {

    background-image: url(./src/_elementy_gradient_menu.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 100%;

}

.flex-first-section-whole__wrapper {
    position: relative;
    /*width: 100%;*/
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;


}

.flex-content-first-section__wrapper {
    position: relative;
}

.flex-img-me {
    position: absolute;
    top: calc(100% / 7);
    left: 20%;
    height: 400px;
    /*width:300px;*/
}

.flex-content-about-me__wrapper {
    position: relative;
}

.flex-content-about-bg__wrapper {
    position: absolute;
    left: -25%;
    top: 100px;
    background-image: url(./src/apla_portfolio.png);
    opacity: 0.8;
    background-size: 100% 100%;
    min-height: 14em;
    /*width: 100%;*/
    max-width: 80%;

}

.see-work {
    position: absolute;
    bottom: 20px;
    right: 50px;
    font-size: 1.5em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: middle;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

}

.my-work-text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 10px;
    margin-right: 10px;


}

.see-work .icon {

    height: 45px;
    top: 1em;
}

.flex-content-about__wrapper {
    position: absolute;
    top: 65%;
    right: 25%;
}

.flex-content-section-second_wrapper {
    /*width: 100%;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;

}

.flex-content-about-me-text_wrapper {
    position: relative;
    padding-left: 5%;
    /* left: 5%; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.about-me-text-content {
    width: 60%;
}

.about-course {
    position: absolute;
    bottom: 1%;
    right: 12%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 70%;
    font-size: 1.5em;

}

.about-course-strong {
    margin: auto;
}

.about-img-easy-code {
    width: 180px;
}

.flex-content-my-skills_wrapper {
    background-image: url("./src/apla_portfolio.png");
    background-size: 80% 100%;
    background-repeat: no-repeat;
    padding: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.skills-box-wrapper {
    width: 70%;
    margin-bottom: 62px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

div[class*='skill-box'] {
    margin: 30px 30px;
    background-color: #e9e9e9;
    border-radius: 3px;
    /* width: 100%;*/
    height: 2.5em;
}

span.skil {
    font-size: 1.4em;
    display: block;
    z-index: 1;
    background-image: -webkit-gradient(linear, left top, right top, from(#f3ceb1), to(#e0b595));
    background-image: -o-linear-gradient(left, #f3ceb1, #e0b595);
    background-image: linear-gradient(to right, #f3ceb1, #e0b595);
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    text-align: right;
    color: #FFF;
    -webkit-box-shadow: 2px 2px 4px gray;
    box-shadow: 2px 2px 4px gray;
}

.flex-content-horizontal-line__wrapper {
    /*width: 100%;*/
    height: 250px;
    background-image: url("./src/tło_gradient.png");
    background-size: 100% 100%;
    position: relative;
    margin-top: 30px;

}

.break-line-content {
    position: absolute;
    left: 5%;
}

.about-icon_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tool-icon {
    background-image: url("./src/apla_portfolio.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
    width: 80px;
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.img-tool-icon {

    height: 60%;
}

.flex-content-second-section__wrapper {
    /*width: 100%;*/
    height: 100%;
    position: relative;
    /*display: flex;*/
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-content-second-article-my-work__wrapper {
    /* width: 100%; */
    /* margin-left: 5%; */
    padding-left: 5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.portfolio-img-content__wrapper {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.portfolio-content {
    background-image: url("./src/apla_portfolio.png");
    background-size: 100% 100%;
    width: 30%;
    text-align: center;
    height: 260px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;


}
.portfolio-img {
    margin-top: 10px;
    width: 80%;
    height: 80%;
}

.portfolio-icon {
    text-align: end;
    margin-right: 20px;
}

.portfolio-button {
    height: 30px;

}

.flex-content-second-article-blog__wrapper {

    margin-left: 5%;
    /*width: 100%;*/
}

h2.blog-header {
    margin: 0;
    font-weight: 100;
}

.blog-post {
    margin-left: 2%;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.blog-post-text {
    width: 60%;
}

.img-blog {
    width: 90%;
    height: 150px;
}

.flex-footer_wrapper {
    position: relative;
    background-image: url("./src/tło_gradient.png");
    background-size: 100% 100%;
    height: 600px;
}

.contact-me-h2 {
    padding-top: 3%;
    margin-left: 6%;
}

.contact-me-p {
    width: 67%;
    margin-left: 6%;
    font-size: 0.9em;
}

.contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.contact-form * {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-top: 20px;
    border: 0;
    -webkit-box-shadow: 4px 4px 6px #a2a2a2;
    box-shadow: 4px 4px 6px #a2a2a2;


}

textarea {
    height: 10em;
    resize: none;
}

.contact-form_wrapper {
    margin-left: 5%;
    margin-top: 4%;
    width: 59%;
}

input[type=text] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 2em;
}

.submit-form-button {
    position: absolute;
    left: 34%;
    top: 67%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("./src/kontakt_ikona.png");
    background-size: 100% 100%;
    width: 150px;
    height: 4em;

}

.photo-author-about__wrapper {
    position: absolute;
    right: 5%;
    top: 10%;

}

.footer-photo-me {
    height: 300px;
    margin-left: 21%;

}

.contact-bar__wrapper {
    background-image: url("./src/apla_portfolio.png");
    background-size: 100% 100%;
    width: 350px;
    height: 100px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 25%;
    top: 15%;

}

.contact-bar-img {
    height: 90px;
    margin: auto 0;
}

.photo-author-about-full__wrapper {
    width: 50%;
}

.wheel-img-1 {
    background-image: url(./src/koła_03.png);
    background-size: 100% 100%;
    position: absolute;
    width: 27%;
    height: 50%;
    z-index: 1;
    left: -6%;
    top: 16%;
}

.wheel-img-2 {
    background-image: url(./src/koła_01.png);
    background-size: 100% 100%;
    position: absolute;
    width: 39%;
    height: 63%;
    z-index: 0;
    right: 0%;
    top: 30%;
}

.wheel-img-3 {
    background-image: url(./src/koła_02.png);
    background-size: 100% 100%;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 0;
    left: 25%;
    top: 58%;
}

.wheel-img-4 {
    background-image: url(./src/koła_01.png);
    background-size: 100% 100%;
    position: absolute;
    width: 24%;
    height: 39%;
    z-index: 1;
    left: 74%;
    top: 81%;
    opacity: 0.5;
}

.wheel-img-1-1 {
    background-image: url(./src/koła_03.png);
    background-size: 100% 100%;
    position: absolute;
    width: 27%;
    height: 50%;
    z-index: 1;
    left: -6%;
    top: 16%;
}

.wheel-img-2-1 {
    background-image: url(./src/koła_01.png);
    background-size: 100% 100%;
    position: absolute;
    width: 25%;
    height: 143%;
    z-index: 0;
    right: 4%;
    top: 22%;
}

.wheel-img-3-1 {
    background-image: url(./src/koła_02.png);
    background-size: 100% 100%;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 0;
    left: -12%;
    top: -60%;
}

.wheel-img-1-1-1 {
    background-image: url(./src/koła_03.png);
    background-size: 100% 100%;
    position: absolute;
    width: 27%;
    height: 64%;
    z-index: 1;
    left: 55%;
    top: -10%;
}

.wheel-img-2-1-1 {
    background-image: url(./src/koła_01.png);
    background-size: 100% 100%;
    position: absolute;
    width: 41%;
    height: 100%;
    z-index: -3;
    right: 13%;
    top: -194%;
}

.wheel-img-3-1-1 {
    background-image: url(./src/koła_02.png);
    background-size: 100% 100%;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: -1;
    left: 0%;
    top: -49%;
}

.flex-col-3 {
    width: calc(calc(100% / 12) * 3);
}

.flex-col-6 {
    width: calc(calc(100% / 12) * 6);
}

.flex-col-9 {
    width: calc(calc(100% / 12) * 9);
}

.whole-footer-content__wrapper{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.blog-text-media__wrapper{display:none}
.blog-header-media__wrapper{display:none}
@media only screen and (max-width: 800px) {
    .wrapper1{
        display: none;
    }
    .blog-post{
        display:flex;
        flex-wrap: wrap;
    }
    .blog-text-media__wrapper{display:flex}
    .blog-header-media__wrapper{display:flex}

    .see-work {
        position: absolute;
        bottom: 8px;
        right: 25px;
        font-size: 1.5em;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        vertical-align: middle;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }

    .portfolio-content {
        background-image: url(./src/apla_portfolio.png);
        background-size: 100% 100%;
        width: 50%;
        text-align: center;
        height: 260px;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        position: relative;
    }

    .flex-header-navbar__wrapper {
        display: inline;
        position: absolute;
        top: -16%;
        left: 10%;
        min-width: 84%;
        height: 168%;
    }

    .flex-col-6 {
        width: 100%;
    }

    .flex-content-about-bg__wrapper {
        position: absolute;
        left: -30%;
        top: 69px;
        background-image: url(./src/apla_portfolio.png);
        opacity: 0.8;
        background-size: 100% 100%;
        min-height: 14em;
        width: 109%;
        max-width: 109%;
    }

    .flex-content-about__wrapper {
        position: absolute;
        top: 84%;
        right: 5%;
    }

    .flex-img-me {
        position: absolute;
        top: calc(100% / 7);
        left: calc(100% / 19);
        height: 400px;

    }

    .photo-author-about__wrapper {
        position: absolute;
        margin-top: 5%;
        right: 0%;
        top: 0%;

    }

    .contact-bar__wrapper {
        background-image: url(./src/apla_portfolio.png);
        background-size: 100% 100%;
        width: 336px;
        height: 100px;
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        right: 9%;
        top: 5%;
    }

    .blog-post-text {
        width: 90%;
    }
    .whole-footer-content__wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    p.text-author {
        text-align: right;
        white-space: nowrap;
        padding-left: 40px;
    }
    .photo-author-about__wrapper {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .submit-form-button {
        position: absolute;
        left: 67%;
        top: 54%;
    }
    .contact-me-p {
        width: 37%;
        margin-left: 6%;
        font-size: 0.9em;
    }
    .flex-footer_wrapper {
        position: relative;
        background-image: url(./src/tło_gradient.png);
        background-size: 100% 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .blog-post p{
        font-size: 1.1em;
    }
    .flex-header-navbar__wrapper {
        display: inline;
        position: absolute;
        top: -16%;
        left: 4%;
        min-width: 90%;
        height: 168%;
    }

    .flex-header__wrapper {

        height: 7vh;
    }

    ul.nav-list {

        font-size: 0.8em;
    }

    .flex-first-section-whole__wrapper {
        height: 1096px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .flex-content-about-bg__wrapper {
        position: absolute;
        left: 1%;
        top: -13px;
        background-image: url(./src/apla_portfolio.png);
        opacity: 0.8;
        background-size: 100% 100%;
        min-height: 14em;
        width: 109%;
        max-width: 97%;
    }

    .flex-content-about__wrapper {
        position: absolute;
        top: 73%;
        right: 5%;
    }

    .about-me-text-content {
        width: 80%;
    }

    .about-course {
        position: absolute;
        bottom: -8%;
        right: 1%;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;

    }

    .flex-content-my-skills_wrapper {
        background-size: 95% 100%;
    }

    .skills-box-wrapper {
        width: 95%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    p.portfolio-text-opt {
        width: 80%;
    }

    .portfolio-content {

        width: 100%;

    }

    .img-blog {
        width: 84%;
        height: 70px;
    }
    .whole-footer-content__wrapper{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .wheel-img-2-1 {
        background-image: url(./src/koła_01.png);
        background-size: 100% 100%;
        position: absolute;
        width: 25%;
        height: 75%;
        z-index: 0;
        right: 4%;
        top: 63%;
    }

}